In [28]:
import pandas as pd

In [30]:
### 处理Excel
df = pd.read_excel('D:/Streamlit/data/kadehome.xlsx')
# df["hour"] = pd.to_datetime(df["Time"], format="%H:%M:%S").dt.hour
df.head(3)

   供应商编码            平台SKU  8月DDP美金    销售价格  销售数量    总销售额
0  A0001  Kade-63222TU-CW    114.0  161.77    10  1617.7
1  A0001   Kade-5568GR-CW    124.0  198.40     1   198.4
2  A0001   Kade-3004BE-CW    170.0  254.10     1   254.1

In [7]:
a = df['City'].unique()
a

array(['Yangon', 'Naypyitaw', 'Mandalay'], dtype=object)

In [8]:
df_selection = df.query(
    "City == 'Yangon'"
)
df_selection.head()

,Unnamed: 0,Invoice ID,Branch,City,Customer_type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,hour
0,NaN,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2021-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1,13
2,NaN,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2021-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4,13
3,NaN,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2021-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4,20
4,NaN,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2021-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3,10
6,NaN,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2021-02-25,14:36:00,Ewallet,413.04,4.761905,20.6520,5.8,14

In [26]:
sales_by_product_line = (
    df_selection.groupby(["Product line"],as_index=False)["Total"].sum()
)
sales_by_product_line.head(6)

             Product line       Total
0  Electronic accessories  18317.1135
1     Fashion accessories  16332.5085
2      Food and beverages  17163.1005
3       Health and beauty  12597.7530
4      Home and lifestyle  22417.1955
5       Sports and travel  19372.6995

In [24]:
a = sales_by_product_line['Product line']
a

0    Electronic accessories
1       Fashion accessories
2        Food and beverages
3         Health and beauty
4        Home and lifestyle
5         Sports and travel
Name: Product line, dtype: object

In [25]:
b = sales_by_product_line['Total']
b

0    18317.1135
1    16332.5085
2    17163.1005
3    12597.7530
4    22417.1955
5    19372.6995
Name: Total, dtype: float64